<%- include('templates/header',{linkCSS: '/CSS/404.css', TituloPagina: 'Error 404'})%>
<body>
    <div class="container">
        <img src="/IMG/error.png">
        <h1>¡Oh no! Creo que la página que buscas no existe o está caida</h1>
    </div>

    <script src="/JS/mi-cuenta.js"></script>
</body>
</html>