<%- include('templates/header',{linkCSS: 'CSS/estilos_nosotros.css', TituloPagina: 'Nosotros'})%>

    <body>

        <h1 id="titulo">ISIWeb</h1>
        
        <div class="contenedor-principal">
            <div class="carta-isi">
                <img src="IMG/isi1.png">
                <p>Alonso Sánchez Martínez</p>
            </div>
            <div class="carta-isi">
                <img src="IMG/isi3.png">
                <p>Aaron Mercado Reyes</p>
            </div>
            <div class="carta-isi">
                <img src="IMG/isi2.png">
                <p>Miguel Angel Zarate Montes de Oca</p>
            </div>
        </div>

        <script src="JS/nosotros.js"></script>
    </body>

</html>
