<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>Agregar Direccion</title>
        <link rel="stylesheet" href="../CSS/header.css">
        <link rel="stylesheet" href="../CSS/generales.css">
        <link rel="stylesheet" href="../CSS/agrega-direccion.css">
        
        <script src="https://kit.fontawesome.com/2a5e3d6cb2.js" crossorigin="anonymous"></script>
    </head>

    <header>
        <i id="btn-atras" class="fa-solid fa-arrow-left"></i>
        <h1>Pantera Abarrotera</h1>
    </header>

    <body>
        
        <div class="registro-container">
            <h1>DIRECCIÓN NUEVA:</h1>
            <form action="/nueva-Direccion" method="POST">
                <label>Calle:</label>
                <input type="text" name="calle" required>
    
                <label>Numero:</label>
                <input type="text" name="numero" required>
    
                <label>Colonia:</label>
                <input type="text" name="colonia" required>
    
                <label>Ciudad</label>
                <input type="text" name="ciudad" required>

                <label>Estado</label>
                <input type="text" name="estado" required>

                <label>Codigo Postal</label>
                <input type="text" name="cp" required>

                <div class="enviar">
                    <button type="submit" id="btn-nuevaDir">Agregar nueva dirección</button>
                </div>
            </form>
            
        </div>
    </div>

    <script src="../JS/agregar-direccion.js"></script>
    </body>

</html>
