<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title><%= TituloPagina %></title>
    <link rel="stylesheet" href=<%= linkCSS %>>
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/generales.css">

    <script src="https://kit.fontawesome.com/2a5e3d6cb2.js" crossorigin="anonymous"></script>
</head>

<header>
    <i id="btn-atras" class="fa-solid fa-arrow-left"></i>
    <h1 id="titulo-principal">Pantera Abarrotera</h1>
</header>
